/*--lavender-blush: #fef2f3ff;
--sky-magenta: #d46ca5ff;
--magenta-dye: #be3781ff;
--goldenrod: #e1ac24ff;
--maize: #f5eb44ff;
--ivory: #fefdecff;
--cool-gray: #8f97c5ff;
--yinmn-blue: #47529bff;
--charcoal: #454e64ff;
--rich-black: #0b111dff;
*/

.content-text {
    background-color: white;
    text-align: left;
}

.content-box {
    background-color: white;
    margin: 2rem;
    padding: 3rem;
    width: 45rem;
    height: fit-content;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: main-page;
    text-align: center;
    border: 3px solid black;
    margin: 10px;
    overflow: auto;
}

.header {
    grid-area: search;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid #454e64ff;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.sidebar {
    grid-area: sidebar;
}


.grid-container {
    display: grid;
    grid-template-areas:
        'sidebar search'
        'sidebar main-page';
    grid-template-columns: min-content auto;
    grid-template-rows: 15vh 85vh;
}