.text {
    background-color: white;
    text-align: left;
}

.textbox {
    background-color: white;
    margin: 2rem;
    padding: 3rem;
    width: 45rem;
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid #454e64ff;
}

.textBar {
    display: flex;
    flex-direction: row;
    grid-area: text-bar;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.textBarForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.textBarFormInputs {
    margin: 1rem;
}

.messages {
    overflow-y: auto;
    box-sizing: border-box; 
}

.mainPage {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;  
    align-content: center; 
    grid-area: main-page; 
    overflow-y: auto;  
    box-sizing: border-box; 
    margin: 1rem; 
    text-align: center; 
    height: 100%;  
}

.header {
    grid-area: header;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid #454e64ff;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.sidebarText {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidebarButton {
    width: 100%;
    border: 1px solid #454e64ff;
    padding: 1rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    text-align: left;
    border-right: 1px solid #454e64ff;
}

.gridContainer {
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar main-page';
    grid-template-columns: min-content 1fr;
    grid-template-rows: 15vh 1fr;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    margin: 0;
    padding: 0;  
}

body { 
    overflow: auto;  
    margin: 0;  
    padding: 0;  
} 